-.gradle
-/build/
-alfasigma/build/
-/cms-center/build/
-/eshop/build/
-/gateway/build/
-/kallibrary/build/
-/security/build/


-
-# Ignore Gradle GUI config
-gradle-app.setting
-
-# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
-!gradle-wrapper.jar
-
-# Cache of project
-.gradletasknamecache
-
-# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
-# gradle/wrapper/gradle-wrapper.properties